body {
  background-color: #333;
  color: #ddd;
  font-family: 'Calibri';
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

input {
  display: inline-block;
  width: 100%;
}

.input-container {
  padding: 15px;
  width: 130px;
}

.save-button {
  width: calc(100% + 4px);
}

hr {
  width: 500px;
}

.event-name {
  font-size: 60px;
}

.event-date {
  font-size: 50px;
  font-weight: lighter;
}